body {
    background: lavender;
    font-size: 1rem;
    font-family: "Source Code Pro", serif;
    overflow: hidden;
}

#popup {
    overflow: hidden;
    position: absolute;
    
    top: 30%;
    transition: left 0.6s cubic-bezier(.71,-0.3,.21,1.32);
    width: 40%;
    background-color: #0e1428;
    color: white;
    box-shadow: inset 0px 0px 30px 10px #243d8e;
}

#popup:not(.show) {
    left: 105%;
}

#popup.show {
    left: 30%;
}

#popup.lower {
    padding-right: 100px;
    top: 55%;
}

#popup.lower.show {
    left: 60%;
}

.divider {
    background-color: black;
    background-image: linear-gradient(45deg, #EBC805 25%, transparent 25%), linear-gradient(-45deg, #EBC805 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #EBC805 75%), linear-gradient(-45deg, transparent 75%, #EBC805 75%);
    background-size: 1em 1em;
    background-position: 0 0, 0 0.5em, 0.5em -0.5em, -0.5em 0px;  

    height: 0.5em;
    width: 120%;

    box-shadow: 0px 0px 30px 10px #243d8e;
}

#headline {
    text-transform: uppercase;
    margin: 0.5em;
    min-height: 37px;
    font-size: 1.8em;
}

#contents-box {
    margin: 1em;
    min-height: 31px;
    font-size: 1.5em;
}



#now-playing {
    overflow: hidden;
    position: absolute;
    
    top: 80%;
    transition: right 0.6s cubic-bezier(.71,-0.3,.21,1.32);
    background-color: #0e1428;
    color: white;
    box-shadow: inset 0px 0px 30px 10px #243d8e;
}

#now-playing:not(.show) {
    right: -50%;
}

#now-playing.show {
    right: -100px;
}

#note-icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.6em;
    padding: 0.9em;
}

#now-playing-text {
    position: absolute;
    left: 4.5em;
    top: 0.2em;
}

#now-playing-align {
    padding-left: 4.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 0.5em;
    color: #ffffff00;
}

#now-playing-song, #now-playing-align-song {
    font-size: 2em;
}

#now-playing-artist, #now-playing-align-artist {
    font-size: 1.5em;
}

#now-playing-align {
    margin-right: 150px;
}
