body {
    background: lavender;
    font-size: 1rem;
    font-family: "Source Code Pro", serif;
    overflow: hidden;
}

#popup {
    overflow: hidden;
    position: absolute;
    top: 30%;
    left: 105%;
    transition: left 0.6s cubic-bezier(.71,-0.3,.21,1.32);
    width: 40%;
    background-color: #0e1428;
    color: white;
    box-shadow: inset 0px 0px 30px 10px #243d8e;
}

.show {
    left: 30% !important;
}

#headline-box {
    /*border-bottom: 1px solid yellow;*/
}

.divider {
    background-color: black;
    background-image: linear-gradient(45deg, #EBC805 25%, transparent 25%), linear-gradient(-45deg, #EBC805 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #EBC805 75%), linear-gradient(-45deg, transparent 75%, #EBC805 75%);
    background-size: 1em 1em;
    background-position: 0 0, 0 0.5em, 0.5em -0.5em, -0.5em 0px;  

    height: 0.5em;
    width: 100%;

    box-shadow: 0px 0px 30px 10px #243d8e;
}

#headline {
    text-transform: uppercase;
    margin: 0.5em;
    min-height: 37px;
    font-size: 1.8em;
}

#contents-box {
    margin: 1em;
    min-height: 31px;
    font-size: 1.5em;
}
